*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
  scroll-behavior: smooth;
}
h1 h2 h3 h4 h5 {
    font-family: 'Saira', sans-serif
}
#top-navbar{
    background-color: black;
    padding: 1rem;
    color: rgb(155, 155, 155);
    
}
.top-navbar-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#top-navbar .contact a{
    color: rgb(155, 155, 155);
    text-decoration: none;
    margin-right: 1rem;
    transition: ease 0.5s;

    
    
}


#top-navbar .contact a:hover{
    color: white;
    transition: 0.8s;
}
#top-navbar .contact i{
    padding-right: 0.5rem;
    color: red;
    transition: ease 0.7s;
}
#top-navbar .right-text a{
    color: rgb(155, 155, 155);
    padding-left: 20px;
    text-decoration: none;
    transition: ease 0.5s;

}
#top-navbar .right-text a:hover{
    color: white;
    transition: 0.5s;
    transform: scale(2);
    
}

/*  */
.navbar {
    background-color: rgb(36, 36, 36);
    color: white;
}
.navbar a{
    color: white;
}
.navbar ul li a{
    padding: 1rem;
    color: white;
    transition: all 0.4s ease-in-out;
    font-family: 'Saira', sans-serif
    
}
.navbar ul li a:hover{
    background-color: red;
    transition: ease 1s;
    border-radius: 10px;
    transform: translatey(-3px);
}
.dropdown-menu{
    background-color: black;
}
.dropdown-menu a:hover{
    color: white ;
}
.icon {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
/* background-img */
#background-img{
    background: url(../img/person_on_laptop.webp) no-repeat center center/cover fixed;
    height: 100vh;
    width: 100%;
    position: relative;
}
#background-img::before{
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.background-text{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    padding: 80px;
}
.background-text h1{
    color: white;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: 'Crimson Text', serif;
    font-family: 'Saira', sans-serif;
    

}
.background-text p{
    font-size: 30px;
    color: white;
    margin-bottom: 2rem;
    font-family: 'Saira', sans-serif
}
.background-text a{
    text-decoration: none;
    color: white;
    border: 2px white solid;
    padding: 0.8rem 3rem;
    font-size: 14px;
    transition: ease 0.5s;
    font-family: 'Saira', sans-serif

}
.background-text a:hover{
    background-color: red;
    border:2px solid red;
    transition: ease 0.6s;
    
}


/*  */

#left-right-conts{
    margin-top: 5rem;
}
#left-text h3{
    color: rgb(73, 73, 73);

}
#left-text p{
    color: rgb(73, 73, 73);
}
#rounded-i{padding: 5px 0;
}
#rounded-i h6{
    padding: 3px 1rem;
    color: rgb(73, 73, 73);
}
#rounded-i .i{
    border: 2px red solid;
    border-radius: 80%;
    color: red;
    font-size: 10px;
    padding: 8px;
}

/*  */
#lyrics-cont{
    margin: 2rem 0;
}



#cont-1{
    position: relative;
    box-shadow: 0 10px 20px  rgb(190, 189, 189);
    padding: 3rem 2rem; 
}
#cont-1 h1{
    font-size: 28px;
    margin-bottom: 1rem;
    color: red;

}
#cont-1 h2{
    margin-bottom: 1rem;
    transition: 0.3s ease-in-out    ;
    z-index: 4;
}
#cont-1 p{
    color: rgb(68, 68, 68);
}
#cont-1:hover h2{
    color: #fff;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
}
#cont-1:hover h1{
    color: white;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
}
#cont-1:hover p{
    color: white;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
}

#cont-1::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(167, 18, 18);
    opacity: 0;
    transition: 1s;
    z-index: 0;
}
#cont-1:hover::before{
    opacity: 1;
    color: white;
    transition: 1s;
}



/* client */
#clients img{
    width: 100%;
    height: 100%;
}
/* #clients-background{
    background-color: rgb(0, 0, 0);
} */



 /* SERVICE */
#clients {
    background: #f2f2f2;
    text-align: center;
    height: 70px;
    
  }
  
  #clients img {
    width: 80px;
    height: 35px;
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    display: inline-block;
  }
  
  #clients img:hover {
    -webkit-filter: none;
    filter: none;
    transform: scale(1.2);
    transition: ease 0.5s;
  }
  #services-logo{
    text-align: center;
    margin: 2rem 0;
    font-weight:700;
    text-transform: uppercase;
}
#card-cont{
    padding: 3rem 2rem;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px  rgb(218, 214, 214);
    animation-name: card-cont;
    animation-duration: 2s;

}
@keyframes card-cont{
  0%{
    top: 200%;
  }
  100%{
    top: 0;
  }
}
#card-cont i{
    position: relative;
    width: 100%;
    height: 100%;
    color: red;
    padding: 1rem;
}
.shadow1{
    text-shadow: 20px 23px 30px 40px #333333;
}
#card-cont:hover i{
  color: white;
  transform: translateY(-12px);
  transition:0.8s ease-in-out;
  z-index: 2;
}
#card-cont:hover h1{
    color: white;
    transform: translateY(-12px);
    transition:0.8s ease-in-out;
    z-index: 2;
}
#card-cont:hover p{
  color: white;
  transform: translateY(-12px);
  transition:0.8s ease-in-out;
  z-index: 2;
}
#card-cont::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgb(182, 34, 34);
    opacity: 0;
    transition: 1s;
    z-index: 0;
}
#card-cont:hover:before{
    color: white;
    opacity: 1;
    transition: 0.8s ease-in-out;
}
.card-cont-i{
   display: block;
   position: relative;
   width: 100%;
   height: 100%;
}

 /* PHOTO/ */
#photo{
    background: url(../img/design.webp)no-repeat center center/cover fixed;
    height: 50vh;
    width: 100%;
    /* page-break-after: auto; */
    position: relative;
}
#photo::before{
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: 0.7;
    
}
.photo-bg{
    position: relative;
    animation-name: photo-bg;
    animation-duration: 5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    color: white;
    z-index: 2;
    text-transform: lowercase;
    transition: 1s ease;
    transform: scale(1,1);
}
.photo-bg h1{
    margin-bottom: 1rem;
}
.photo-bg p{
    margin-bottom: 2rem;
}
.photo-bg .btn-back-bg{
    color: white;
    font-size: 20px;
    border: 2px white solid;
    padding: 0.5rem 2.5rem;
}
.photo-bg .btn-back-bg:hover{
    background-color:darkred;
    transition: 0.4s ease-in-out;
}
.fontts{
    font-size: 20px;
    font-family: 'Saira', sans-serif
}
/* PRICE */
.pricing{
    padding: 50px;
}
.font22{
    font-size: 35px;
}
.pricing .box {
    padding: 20px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    animation-name: sarvar;
    animation-duration: 2s;

  }

  
  .pricing .box h3 {
    font-weight: 400;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #191919;
  }
  
  .pricing .box h4 {
    font-size: 42px;
    color: #cc1616;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
  }
  
  .pricing .box h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .pricing .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing .box ul {
    padding: 0;
    list-style: none;
    color: #191919;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
  
  .pricing .box ul li {
    padding-bottom: 16px;
  }
  
  .pricing .box ul i {
    color: #cc1616;
    font-size: 18px;
    padding-right: 4px;
  }
  
  .pricing .box ul .na {
    color: #ccc;
    text-decoration: line-through;
  }
  
  .pricing .box .btn-wrap {
    padding: 15px;
    text-align: center;
  }
  
  .pricing .box .btn-buy {
    background: #cc1616;
    display: inline-block;
    padding: 10px 40px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .pricing .box .btn-buy:hover {
    background:rgb(54, 53, 53);
  }
  
  .pricing .featured {
    position: relative;
    background: #cc1616;
    box-shadow: none;
    color: #fff;
    animation-name: sarvar1;
    animation-duration: 2.4s;



    
  }
  @keyframes sarvar{
    0%{
      transform: scale(0,0);
    }
    100%{
      transform: scale(1,1);
    }
  }
  @keyframes sarvar1{
    0%{
      transform: scale(0,0);
    }
    100%{
      transform: scale(1,1);
    }
  }
  
  .pricing .featured h3, .pricing .featured h4, .pricing .featured ul, .pricing .featured ul li, .pricing .featured ul .na {
    color: #fff;
  }
  
  .pricing .featured h4 span {
    color: rgba(255, 255, 255, 0.58);
  }
  
  .pricing .featured .btn-wrap {
    padding: 15px;
    text-align: center;
  }
  
  .pricing .featured .btn-buy {
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    transition: ease 0.5s;
  }
  
  .pricing .featured .btn-buy:hover {
    background: #fff;
    color: #cc1616;
  }
    /* Team */
    .team .member {
        text-align: center;
        margin-bottom: 20px;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
        padding: 30px 20px;
        background: #fff;
      }
      
      .team .member img {
        max-width: 60%;
        border-radius: 50%;
        margin: 0 0 30px 0;
      }
      
      .team .member h4 {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
      }
      
      .team .member span {
        font-style: italic;
        display: block;
        font-size: 13px;
      }
      
      .team .member p {
        padding-top: 10px;
        font-size: 14px;
        font-style: italic;
        color: #aaaaaa;
      }
      
      .team .member .social {
        margin-top: 15px;
      }
      
      .team .member .social a {
        color: #919191;
        transition: 0.3s;
      }
      
      .team .member .social a:hover {
        color: #cc1616;
      }
      
      .team .member .social i {
        font-size: 18px;
        margin: 0 2px;
      }

        /* contact */
        #contactbox{
         
        }
        .card{
          box-shadow: 0 10px 10px  gray;
        }
         /* Footer */
         /* footer */
#footer{
  background-color: black;
  color: white;
  font-size: 14px;
}
#footer .footer-box{
  background-color: rgb(19, 19, 19);
  margin: 2rem 0;
  padding: 3rem 4rem;
  border-top: red 5px solid;
  text-align: center;
}
#footer .footer-box h1{
  font-size: 42px;
}
#footer .footer-box h3{
  font-size: 16px;
  margin: 2rem 0;
}
#footer .footer-box h4{
  font-size: 16px;
}
#footer .footer-box h5{
  font-size: 16px;
  margin-bottom: 2rem;
}
#footer .footer-box a{
  position: relative;
  animation-name: footer-box-a;
  animation-duration: 3s;
  text-align: center;
  color: rgb(163, 163, 163);
  text-decoration: none;
  margin-right: 5px;
  font-size: 18px;
  transform: scale(1,2);
  transition: 0.5s ease-in-out;

}
#footer .footer-box a:hover{
  transition: 0.5s ease-in-out;
 color: rgb(72, 255, 0);
}
#footer .footer-box-b{
  font-size: 14px;
  margin-top: 3rem;
}
#footer .footer-box-b h4{
  margin-bottom: 1rem;
}
#footer .footer-box-b ul li{
  list-style: none;
  margin-bottom: 15px;
}
#footer .footer-box-b ul li i{
  color: rgb(182, 34, 34);
  margin-right: 5px;
}
#footer .footer-box-b ul li a{
  color: white;
  text-decoration: none;
}
#footer .footer-box-b ul li a:hover{
  color: rgb(182, 34, 34);
  transition: 0.5s ease-in-out;
}
#footer .footer-box-c{
  margin-top: 3rem;
  font-size: 14px;
}
#footer .footer-box-c h4{
  font-size: 20px;
  margin-bottom: 1rem;
}
#footer .footer-box-c ul li{
  margin-bottom: 15px;
  list-style: none;
}
#footer .footer-box-c ul li i{
  color: rgb(182, 34, 34);
  margin-right: 5px;
}
#footer .footer-box-c ul li a{
  color: white;
  text-decoration: none;
}
#footer .footer-box-c ul li a:hover{
  color: rgb(182, 34, 34);
  transition: 0.5s ease-in-out;
}
#footer .footer-box-d{
  margin: 3rem 0;
}
#footer .footer-box-d h4{
  margin-bottom: 2rem;
}
#footer .footer-box-d p{
  margin-bottom: 2rem;
}
#footer-boxes{
  border-bottom: 2px gray solid;
}
#footer-bootom{
  text-align: center;
 padding: 1rem 0;
}
#footer-bootom h1, h3{
  font-size: 14px;
}
#footer-bootom a{
  text-decoration: none;
  font-size: 14px;
  color: rgb(182, 34, 34);
}


@keyframes photo-bg{
    0%{
        transform: scale(0,0);
    }
    50%{
        transform: scale(1,1);
    }
}
/* media */
@media(max-width:800px){
    #top-navbar{
        display: none;
    }
    
}
@media(max-width:800px){
    .background-text{
        text-align: center;
    }
    .background-text h1{
        font-size: 28px;
    }
    .background-text p{
        font-size: 18px;
    }
}




/* keyframes */
.background-text{
    position: relative;
    animation-name: background-text;
    animation-duration: 2.5s;
}
@keyframes background-text{
    0%{left: 0; top: 50%;}
    100%{left: 0; top: 0;}
}
#left-text {
    position: relative;
    animation-name: left-text;
    animation-duration: 2.5s;
  
  }

  @keyframes left-text {
    0%   { left:-50%; top:0px;}
    100%  {left:0px; top:0px;}
  }
  #right-img {
    position: relative;
    animation-name: right-img;
    animation-duration: 2.5s;
  
  }
  #cont-1 {
    position: relative;
    animation-name: cont-1;
    animation-duration: 2s;
  
  }

  @keyframes cont-1 {
    0%   { left:-100%; top:-100px;}
    100%  {left:0px; top:0px;}

  }
    
  
  @keyframes right-img {
    0%   {background-color:; left:50%; top:;}
    100%  {background-color:; left:0px; top:0px;}
  }

  .click-me{
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin:0px 10px 10px;
    z-index: 2;
    background:rgb(179, 7, 7);
    width: 50px;
    color: #fff;
    height: 50px;
    text-decoration: none;
  }
  .click-me a{
    text-decoration: none;
  }